In [326]:
import pandas as pd

In [327]:
#Import my data

In [328]:
rawvisadata=pd.read_csv("GMP_GlobalVisaCostDataset_v1.0.csv")

In [329]:
#Look under the hood.

In [330]:
rawvisadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38603 entries, 0 to 38602
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   source                     38603 non-null  object
 1   target                     38603 non-null  object
 2   source_iso3                38603 non-null  object
 3   target_iso3                38575 non-null  object
 4   tourist_visa               25038 non-null  float64
 5   student_visa               6338 non-null   float64
 6   business_visa              16940 non-null  float64
 7   work_visa                  6073 non-null   float64
 8   family_reunification_visa  5104 non-null   float64
 9   transit_visa               21968 non-null  float64
 10  other_motives_visa         3694 non-null   float64
 11  tourist_perdailyincome     23319 non-null  float64
 12  student_perdailyincome     5908 non-null   float64
 13  business_perdailyincome    15767 non-null  float64
 14  work_perdailyincome        5658 non-null   float64
 15  family_perdailyincome      4751 non-null   float64
 16  transit_perdailyincome     20431 non-null  float64
 17  other_perdailyincome       3481 non-null   float64
 18  source_region              38603 non-null  object
 19  source_subregion           38603 non-null  object
 20  target_region              38603 non-null  object
 21  target_subregion           38603 non-null  object
dtypes: float64(14), object(8)
memory usage: 6.5+ MB

In [331]:
#I'd like less columns. Removing columns 2 and 3, which provide 'ISO' codes for each country. Also removing Column 19 and 21, 'Subregions'.
rawvisadata = rawvisadata.drop(['source_iso3','target_iso3','target_subregion', 'source_subregion'], axis=1)

In [332]:
#Great, slightly less data.

In [333]:
#Question One:
#What do the prices look like for visas for the United States?

In [338]:
USentryvisadata = rawvisadata.loc[rawvisadata['target'] == 'United States of America']

In [348]:
USentryvisadata.head()

,source,target,tourist_visa,student_visa,business_visa,work_visa,family_reunification_visa,transit_visa,other_motives_visa,tourist_perdailyincome,student_perdailyincome,business_perdailyincome,work_perdailyincome,family_perdailyincome,transit_perdailyincome,other_perdailyincome,source_region,target_region
185,Afghanistan,United States of America,160.0,160.0,160.0,190.0,325.0,0.0,NaN,106.181824,106.181824,106.181824,126.090912,215.681824,0.0,NaN,Asia,Americas
380,Albania,United States of America,160.0,160.0,160.0,190.0,325.0,0.0,NaN,13.613053,13.613053,13.613053,16.165501,27.651516,0.0,NaN,Europe,Americas
575,Algeria,United States of America,160.0,160.0,160.0,190.0,325.0,0.0,NaN,14.860051,14.860051,14.860051,17.646311,30.184479,0.0,NaN,Africa,Americas
770,Andorra,United States of America,14.0,160.0,14.0,190.0,325.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,Americas
965,Angola,United States of America,160.0,160.0,160.0,190.0,325.0,0.0,NaN,16.404495,16.404495,16.404495,19.480337,33.321629,0.0,NaN,Africa,Americas

In [369]:
#sort to see which tourist visa to the US is the cheapest.
UStouristvisasorted = USentryvisadata.sort_values(by='tourist_visa', ascending=True)

In [377]:
UStouristvisasorted.head()

,source,target,tourist_visa,student_visa,business_visa,work_visa,family_reunification_visa,transit_visa,other_motives_visa,tourist_perdailyincome,student_perdailyincome,business_perdailyincome,work_perdailyincome,family_perdailyincome,transit_perdailyincome,other_perdailyincome,source_region,target_region
3890,Bermuda,United States of America,0.0,160.0,0.0,190.0,325.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Americas,Americas
6425,Canada,United States of America,0.0,160.0,0.0,190.0,325.0,0.0,NaN,0.000000,1.358140,0.000000,1.612791,2.758721,0.0,NaN,Americas,Americas
19100,Latvia,United States of America,14.0,160.0,14.0,190.0,325.0,0.0,NaN,0.345504,3.948614,0.345504,4.688979,8.020621,0.0,NaN,Europe,Americas
5060,Brunei Darussalam,United States of America,14.0,160.0,14.0,190.0,325.0,0.0,NaN,0.170960,1.953831,0.170960,2.320174,3.968719,0.0,NaN,Asia,Americas
5255,Bulgaria,United States of America,14.0,160.0,14.0,190.0,325.0,0.0,NaN,0.650127,7.430026,0.650127,8.823155,15.092239,0.0,NaN,Europe,Americas

In [387]:
#Insight 1: Its cheaper to visit the United States from a rich state rather than a poor one.

#sort to see which student visa to the US is the cheapest
USstudentvisasorted = USentryvisadata.sort_values(by='student_visa', ascending=False)
USstudentvisasorted.head()

,source,target,tourist_visa,student_visa,business_visa,work_visa,family_reunification_visa,transit_visa,other_motives_visa,tourist_perdailyincome,student_perdailyincome,business_perdailyincome,work_perdailyincome,family_perdailyincome,transit_perdailyincome,other_perdailyincome,source_region,target_region
185,Afghanistan,United States of America,160.0,160.0,160.0,190.0,325.0,0.0,NaN,106.181824,106.181824,106.181824,126.090912,215.681824,0.0,NaN,Asia,Americas
24167,Namibia,United States of America,160.0,160.0,160.0,190.0,325.0,0.0,NaN,12.166666,12.166666,12.166666,14.447916,24.713541,0.0,NaN,Africa,Americas
24557,Nepal,United States of America,160.0,160.0,160.0,190.0,325.0,0.0,NaN,68.705887,68.705887,68.705887,81.588234,139.558823,0.0,NaN,Asia,Americas
24752,Netherlands,United States of America,14.0,160.0,14.0,190.0,325.0,0.0,NaN,0.109025,1.245999,0.109025,1.479624,2.530936,0.0,NaN,Europe,Americas
24947,New Zealand,United States of America,14.0,160.0,14.0,190.0,325.0,0.0,NaN,0.132831,1.518066,0.132831,1.802703,3.083571,0.0,NaN,Oceania,Americas

In [394]:
#looks like they all cost $160, what about for a different country?
Franceentryvisadata = rawvisadata.loc[rawvisadata['target'] == 'France']
Francestudentvisa = Franceentryvisadata.sort_values(by='student_visa', ascending=True)
Francestudentvisa.head(30)

,source,target,tourist_visa,student_visa,business_visa,work_visa,family_reunification_visa,transit_visa,other_motives_visa,tourist_perdailyincome,student_perdailyincome,business_perdailyincome,work_perdailyincome,family_perdailyincome,transit_perdailyincome,other_perdailyincome,source_region,target_region
256,Albania,France,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,Europe,Europe
20339,Luxembourg,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
20729,Macedonia (the former Yugoslav Republic of),France,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,Europe,Europe
21899,Malta,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
23069,Moldova (Republic of),France,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,Europe,Europe
24629,Netherlands,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
24824,New Zealand,France,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,Oceania,Europe
25799,Norway,France,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,Europe,Europe
27749,Poland,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
27944,Portugal,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
28334,Romania,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
28529,Russian Federation,France,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Europe,Europe
29699,San Marino,France,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,Europe
31256,Slovakia,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
31451,Slovenia,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
32231,Spain,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
33011,Sweden,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
33206,Switzerland,France,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,Europe,Europe
20144,Lithuania,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
19949,Liechtenstein,France,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,Europe
18977,Latvia,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
16637,Italy,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
646,Andorra,France,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,Europe
1621,Australia,France,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,Oceania,Europe
1816,Austria,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
3181,Belgium,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
4351,Bosnia and Herzegovina,France,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,Europe,Europe
5131,Bulgaria,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
8446,Croatia,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Europe,Europe
8836,Cyprus,France,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Asia,Europe

In [ ]:
#looks like student visas to France are free.

In [397]:
#Lets try one more, Chile.
chiledata = rawvisadata.loc[rawvisadata['target'] == 'Chile']
chilestudentdata = chiledata.sort_values(by='student_visa', ascending=True)
chilestudentdata.head(30)

,source,target,tourist_visa,student_visa,business_visa,work_visa,family_reunification_visa,transit_visa,other_motives_visa,tourist_perdailyincome,student_perdailyincome,business_perdailyincome,work_perdailyincome,family_perdailyincome,transit_perdailyincome,other_perdailyincome,source_region,target_region
16221,Ireland,Chile,0.0,0.0,225.0,0.0,0.0,0.0,NaN,0.000000,0.000000,1.548068,0.000000,0.000000,0.0,NaN,Europe,Americas
26358,Palau,Chile,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.0,NaN,Oceania,Americas
9006,Czechia,Chile,0.0,0.0,133.0,133.0,133.0,0.0,NaN,0.000000,0.000000,2.702951,2.702951,2.702951,0.0,NaN,Europe,Americas
22458,Mauritius,Chile,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.0,NaN,Africa,Americas
30063,Saudi Arabia,Chile,NaN,0.0,43.0,44.0,43.0,0.0,NaN,NaN,0.000000,0.785143,0.803402,0.785143,0.0,NaN,Asia,Americas
4130,Bolivia (Plurinational State of),Chile,0.0,0.0,283.0,300.0,283.0,0.0,NaN,0.000000,0.000000,33.428802,35.436893,33.428802,0.0,NaN,Americas,Americas
31230,Slovakia,Chile,0.0,0.0,137.0,137.0,137.0,0.0,NaN,0.000000,0.000000,3.003303,3.003303,3.003303,0.0,NaN,Europe,Americas
19341,Lesotho,Chile,23.0,0.0,23.0,0.0,NaN,0.0,NaN,6.457692,0.000000,6.457692,0.000000,NaN,0.0,NaN,Africa,Americas
20508,Macao,Chile,0.0,0.0,12.0,12.0,12.0,0.0,NaN,0.000000,0.000000,0.060472,0.060472,0.060472,0.0,NaN,Asia,Americas
17196,Jordan,Chile,NaN,0.0,43.0,44.0,NaN,0.0,NaN,NaN,0.000000,3.904229,3.995025,NaN,0.0,NaN,Asia,Americas
34545,Tonga,Chile,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,NaN,Oceania,Americas
35715,Tuvalu,Chile,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.0,NaN,Oceania,Americas
34935,Tunisia,Chile,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.0,NaN,Africa,Americas
13881,Guinea,Chile,95.0,4.0,95.0,95.0,NaN,0.0,NaN,41.777111,1.759036,41.777111,41.777111,NaN,0.0,NaN,Africa,Americas
33375,Syrian Arab Republic,Chile,NaN,6.0,6.0,6.0,6.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia,Americas
2570,Bangladesh,Chile,10.0,10.0,10.0,10.0,10.0,0.0,NaN,2.401316,2.401316,2.401316,2.401316,2.401316,0.0,NaN,Asia,Americas
19731,Libya,Chile,13.0,13.0,13.0,13.0,NaN,0.0,NaN,0.890244,0.890244,0.890244,0.890244,NaN,0.0,NaN,Africa,Americas
17586,Kenya,Chile,NaN,13.0,385.0,385.0,NaN,0.0,NaN,NaN,3.295139,97.586807,97.586807,NaN,0.0,NaN,Africa,Americas
23628,Mozambique,Chile,60.0,15.0,60.0,120.0,NaN,0.0,NaN,50.930229,12.732557,50.930229,101.860458,NaN,0.0,NaN,Africa,Americas
23433,Morocco,Chile,15.0,15.0,15.0,15.0,NaN,0.0,NaN,1.907665,1.907665,1.907665,1.907665,NaN,0.0,NaN,Africa,Americas
22848,Micronesia (Federated States of),Chile,NaN,15.0,40.0,60.0,40.0,0.0,NaN,NaN,1.596210,4.256559,6.384840,4.256559,0.0,NaN,Oceania,Americas
9591,Djibouti,Chile,60.0,15.0,60.0,120.0,NaN,0.0,NaN,10.735293,2.683823,10.735293,21.470587,NaN,0.0,NaN,Africa,Americas
21678,Mali,Chile,40.0,15.0,40.0,60.0,NaN,0.0,NaN,18.961039,7.110389,18.961039,28.441557,NaN,0.0,NaN,Africa,Americas
10371,Egypt,Chile,15.0,15.0,15.0,15.0,NaN,0.0,NaN,1.800987,1.800987,1.800987,1.800987,NaN,0.0,NaN,Africa,Americas
21483,Maldives,Chile,NaN,15.0,100.0,130.0,100.0,0.0,NaN,NaN,0.631488,4.209919,5.472895,4.209919,0.0,NaN,Asia,Americas
21093,Malawi,Chile,40.0,15.0,40.0,60.0,NaN,0.0,NaN,42.941174,16.102942,42.941174,64.411766,NaN,0.0,NaN,Africa,Americas
10956,Eritrea,Chile,160.0,15.0,160.0,150.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,Americas
14466,Haiti,Chile,0.0,15.0,25.0,25.0,25.0,0.0,NaN,0.000000,7.203948,12.006579,12.006579,12.006579,0.0,NaN,Americas,Americas
20898,Madagascar,Chile,40.0,15.0,40.0,60.0,NaN,0.0,NaN,36.500000,13.687500,36.500000,54.750000,NaN,0.0,NaN,Africa,Americas
23823,Myanmar,Chile,NaN,15.0,100.0,180.0,100.0,0.0,NaN,NaN,4.562500,30.416666,54.750000,30.416666,0.0,NaN,Asia,Americas

In [401]:
#most expensive?
chilestudentdata = chiledata.sort_values(by='student_visa', ascending=False)
chilestudentdata.head(20)

,source,target,tourist_visa,student_visa,business_visa,work_visa,family_reunification_visa,transit_visa,other_motives_visa,tourist_perdailyincome,student_perdailyincome,business_perdailyincome,work_perdailyincome,family_perdailyincome,transit_perdailyincome,other_perdailyincome,source_region,target_region
35520,Turks and Caicos Islands,Chile,NaN,487.0,1388.0,806.0,1388.0,0.0,NaN,NaN,6.995474,19.937819,11.577725,19.937819,0.0,NaN,Americas,Americas
36494,United Kingdom of Great Britain and Northern I...,Chile,0.0,487.0,1388.0,806.0,NaN,0.0,NaN,0.0,4.380360,12.484475,7.249630,NaN,0.0,NaN,Europe,Americas
6470,Cayman Islands,Chile,NaN,487.0,1388.0,1388.0,1388.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Americas,Americas
24603,Netherlands,Chile,0.0,425.0,1205.0,NaN,NaN,0.0,NaN,0.0,3.309686,9.383934,NaN,NaN,0.0,NaN,Europe,Americas
11931,Finland,Chile,0.0,407.0,562.0,667.0,NaN,0.0,NaN,0.0,3.339065,4.610699,5.472128,NaN,0.0,NaN,Europe,Americas
25773,Norway,Chile,0.0,386.0,463.0,463.0,463.0,0.0,NaN,0.0,1.849921,2.218947,2.218947,2.218947,0.0,NaN,Europe,Americas
8226,Costa Rica,Chile,0.0,381.0,658.0,658.0,658.0,0.0,NaN,0.0,12.539675,21.656446,21.656446,21.656446,0.0,NaN,Americas,Americas
35325,Turkmenistan,Chile,NaN,370.0,500.0,500.0,500.0,0.0,NaN,NaN,21.167711,28.605015,28.605015,28.605015,0.0,NaN,Asia,Americas
1595,Australia,Chile,0.0,365.0,325.0,325.0,325.0,0.0,NaN,0.0,2.580379,2.297598,2.297598,2.297598,0.0,NaN,Oceania,Americas
27138,Paraguay,Chile,0.0,300.0,312.0,300.0,312.0,0.0,NaN,0.0,20.315399,21.128016,20.315399,21.128016,0.0,NaN,Americas,Americas
9396,Denmark,Chile,0.0,286.0,542.0,699.0,542.0,0.0,NaN,0.0,1.859459,3.523869,4.544621,3.523869,0.0,NaN,Europe,Americas
29088,Saint Lucia,Chile,0.0,280.0,280.0,140.0,280.0,0.0,NaN,0.0,11.255507,11.255507,5.627753,11.255507,0.0,NaN,Americas,Americas
36299,United Arab Emirates,Chile,0.0,278.0,105.0,100.0,105.0,0.0,NaN,0.0,2.617230,0.988522,0.941450,0.988522,0.0,NaN,Asia,Americas
1205,Argentina,Chile,0.0,270.0,100.0,270.0,100.0,0.0,NaN,0.0,7.511433,2.782012,7.511433,2.782012,0.0,NaN,Americas,Americas
2960,Belarus,Chile,NaN,270.0,270.0,270.0,270.0,0.0,NaN,NaN,18.594339,18.594339,18.594339,18.594339,0.0,NaN,Europe,Americas
1985,Azerbaijan,Chile,NaN,250.0,250.0,250.0,250.0,0.0,NaN,NaN,22.420147,22.420147,22.420147,22.420147,0.0,NaN,Asia,Americas
37079,Uzbekistan,Chile,NaN,250.0,250.0,250.0,250.0,0.0,NaN,NaN,38.829784,38.829784,38.829784,38.829784,0.0,NaN,Asia,Americas
27528,Philippines,Chile,NaN,250.0,305.0,400.0,305.0,0.0,NaN,NaN,25.000000,30.500000,40.000000,30.500000,0.0,NaN,Asia,Americas
20313,Luxembourg,Chile,0.0,236.0,236.0,236.0,236.0,0.0,NaN,0.0,1.216838,1.216838,1.216838,1.216838,0.0,NaN,Europe,Americas
3155,Belgium,Chile,0.0,236.0,236.0,236.0,236.0,0.0,NaN,0.0,2.047053,2.047053,2.047053,2.047053,0.0,NaN,Europe,Americas